{% extends 'accounts/base.html' %}
    {% block title %}
        <title>Change Password</title>
    {% endblock title %}
    {% block content %}
        <div class="centerdiv">
            <form action="" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label for="{{form.old_password.id_for_label}}">Old Password</label>
                    {{form.old_password}}
                </div>
                <div class="form-group">
                    <label for="{{form.new_password1.id_for_label}}">New Password</label>
                    {{form.new_password1}}
                </div>
                <div class="form-group">
                    {{form.new_password1.help_text}}
                </div>
                <div class="form-group">
                    <label for="{{form.username.id_for_label}}">New Password Confirmation</label>
                    {{form.new_password2}}
                </div>
            <button type="submit">save</button>
            </form>
            <a href="{%url 'reset' %}">forget password?</a>
        </div>
    {% endblock content %}